extends expenses

block header
  h2(class="text-center") Edit Expenses

block main
  form(action=`/edit/${expense.id}` method="POST" class="edit-expense-form")
    fieldset
      dl
        dt
          label(for="description" class="body-2") Description of Expense 
        dd
          input(type="text" name="description" id="description" value=expense.description)
      dl
        dt
          label(for="amount" class="body-2") Amount
        dd
          input(type="number" name="amount" id="amount" min="0.01" step="0.01" value=expense.amount.toFixed(2))
      dl
        dt
          label(for="date" class="body-2") Date (YYYY-MM-DD) 
        dd
          input(type="date" name="date" id="date" value=expense.date.toISOString().substring(0, 10))
    fieldset(class="edit-expense-controls flex space-between align-baseline")
      button(formaction=`/delete/${expense.id}` method="POST" class="destructive") Delete
      button(class="cta") Save Changes